[submodule "cmake"]
	path = cmake
	url = https://github.com/open-eid/cmake.git
[submodule "common"]
	path = common
	url = https://github.com/open-eid/qt-common.git
[submodule "extensions"]
	path = extensions
	url = https://github.com/open-eid/digidoc-extensions.git
